
.delete-button {
    background-color: #fff;
    color: #dc3545;
    border: none;
    padding: 8px 12px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    color: #c82333;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr.header {
    background-color: #f0f0f0;
    font-weight: bold;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}*/

.active-row {
    background-color: green;
}

.overdue-row {
    background-color: red;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.validation-messages {
    color: red;
}
