.item-list {
    list-style: none;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 0px;
    margin-bottom: 0px;
}

.delete-button {
    background-color: #fff;
    color: #dc3545;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .delete-button:hover {
        color: #c82333;
    }
